@charset "utf-8";

@media all and (min-width: 200px){
  /* xs */
  .banner-recent-movies{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 15rem;
    width: 100%;
    display: block;
    position: relative;
    z-index: 20;

    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(45deg, rgba(255,20,9,0.37), rgba(65,27,255,0.43));
    }
  }
  .pagination-movies li button{
    color: #ffffff;
  }
  .pagination-movies .MuiPaginationItem-root.MuiPaginationItem-ellipsis{
    color: #ffffff;
  }
}
@media all and (min-width: 576px){
	/* sm */

}
@media all and (min-width: 768px){
	/* md */
  .banner-recent-movies{
    height: 25rem;
  }
}
@media all and (min-width: 992px){
	/* lg */

}
@media all and (min-width: 1200px){
	/* xl */
}
